@import 'tailwindcss';

:root {
  font-family: "Victor Mono", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242428;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #00ff00;
  --secondary: #6d6d6d;
}