@import 'tailwindcss';

@font-face {
  /* https://github.com/Corne2Plum3/Giphurs */
  font-family: 'Giphurs';
  font-display: swap;
  src: url('/fonts/Giphurs[wght].woff2') format('woff2');
}

:root {
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-optical-sizing: auto;
  font-family: 'Giphurs', system-ui, sans-serif, arial;

  text-rendering: optimizeLegibility;
  line-height: 1.5;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242428;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #00ff00;
  --secondary: #6d6d6d;
}